4K_BUTTON.json
[{"id":"1eceb1af.f728ee","type":"tab","label":"ESPurna","disabled":false,"info":""},{"id":"cf6e1c4e.3872f","type":"mqtt in","z":"1eceb1af.f728ee","name":"","topic":"v3/0011111@ttn/devices/000004/up","qos":"0","datatype":"auto","broker":"cea5258a.b34038","nl":false,"rap":false,"x":140,"y":100,"wires":[["b9ffbcec.2ea5f"]]},{"id":"c08cc8fe.292f48","type":"inject","z":"1eceb1af.f728ee","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":160,"y":400,"wires":[["cd526060.1930c"]]},{"id":"cd526060.1930c","type":"http request","z":"1eceb1af.f728ee","name":"Relay off","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.10/api/relay/0?apikey=XXXXXXXXX&value=0","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":460,"wires":[["2f4bb7e2.c71028","2e86cee3.c2ffd2"]]},{"id":"666eb832.90c2d8","type":"inject","z":"1eceb1af.f728ee","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":160,"y":480,"wires":[["af1fce4a.4a7b1"]]},{"id":"af1fce4a.4a7b1","type":"http request","z":"1eceb1af.f728ee","name":"Relay on","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.10/api/relay/0?apikey=XXXXXXXXXX&value=1","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":500,"wires":[["61bb6209.0482ac","2e86cee3.c2ffd2"]]},{"id":"71ae71b4.3d053","type":"http request","z":"1eceb1af.f728ee","name":"Relay toggle","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.10/api/relay/0?apikey=XXXXXXXXXXXXX&value=2","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":540,"wires":[["2e86cee3.c2ffd2","be0b97ee.4d7d38"]]},{"id":"484de709.2d54e8","type":"inject","z":"1eceb1af.f728ee","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":160,"y":560,"wires":[["71ae71b4.3d053"]]},{"id":"3682c73b.b44b78","type":"http request","z":"1eceb1af.f728ee","name":"Status","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.10/apis?apikey=XXXXXXXXXXXXXX","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":580,"wires":[["4e091681.aa7e38"]]},{"id":"3f7b5690.059d0a","type":"inject","z":"1eceb1af.f728ee","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":160,"y":640,"wires":[["3682c73b.b44b78"]]},{"id":"4e091681.aa7e38","type":"debug","z":"1eceb1af.f728ee","name":"","active":true,"console":"false","complete":"false","x":810,"y":580,"wires":[]},{"id":"608c42a0.37622c","type":"comment","z":"1eceb1af.f728ee","name":"Subscribe to all messages","info":"This is just to subscribe to all messages \ncoming from ESPurna. You can turn this off\nonce you are completed the setup.\n\nHere I put the same topic ID as what I entered\non the UI and # at the end.","x":130,"y":40,"wires":[]},{"id":"c245bbb8.55cef8","type":"comment","z":"1eceb1af.f728ee","name":"MQTT control","info":"Controlling the relay via MQTT\n\nroot topic followed by relay/0/set\naccepted messages:\n0: off\n1: on\n2: toggle","x":390,"y":40,"wires":[]},{"id":"e96b6eda.d629d","type":"comment","z":"1eceb1af.f728ee","name":"HTTP control","info":"Controlling the relay via HTTP\nHTTP API in the admin page need to be turned off\nCopy the api key from the admin page\n\nURL http://<ip>/api/relay/0?apikey=<api key>&value=0\naccepted values (at the end):\n0: off\n1: on\n2: toggle","x":110,"y":360,"wires":[]},{"id":"61bb6209.0482ac","type":"debug","z":"1eceb1af.f728ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":460,"wires":[]},{"id":"be0b97ee.4d7d38","type":"debug","z":"1eceb1af.f728ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":500,"wires":[]},{"id":"2f4bb7e2.c71028","type":"debug","z":"1eceb1af.f728ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":420,"wires":[]},{"id":"e0d9b101.85f1b","type":"ui_button","z":"1eceb1af.f728ee","name":"","group":"d80f965e.86a118","order":1,"width":"6","height":"4","passthru":false,"label":"APAGADO","tooltip":"","color":"#000000","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":440,"wires":[["cd526060.1930c"]]},{"id":"e1ad14ab.518488","type":"ui_button","z":"1eceb1af.f728ee","name":"","group":"d80f965e.86a118","order":2,"width":"6","height":"4","passthru":false,"label":"ENCENDIDO","tooltip":"","color":"#000000","bgcolor":"#00FF99","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":520,"wires":[["af1fce4a.4a7b1"]]},{"id":"ed44579d.a0e848","type":"ui_button","z":"1eceb1af.f728ee","name":"","group":"d80f965e.86a118","order":3,"width":"6","height":"4","passthru":false,"label":"CONMUTAR","tooltip":"","color":"#000000","bgcolor":"#CCCCFF","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":600,"wires":[["71ae71b4.3d053"]]},{"id":"acb02130.6fc25","type":"ui_led","z":"1eceb1af.f728ee","order":4,"group":"d80f965e.86a118","width":"6","height":"3","label":"ON/OFF RELAY_1","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":false,"name":"","x":950,"y":540,"wires":[]},{"id":"2e86cee3.c2ffd2","type":"function","z":"1eceb1af.f728ee","name":"","func":"var msg={payload:msg.payload};\nif(msg.payload===\"1\"){\n    msg.payload=true;\n}else{\n    msg.payload=false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":540,"wires":[["acb02130.6fc25"]]},{"id":"b3defa04.6e2fd8","type":"comment","z":"1eceb1af.f728ee","name":"IO control","info":"","x":800,"y":360,"wires":[]},{"id":"b9ffbcec.2ea5f","type":"json","z":"1eceb1af.f728ee","name":"","property":"payload","action":"","pretty":false,"x":370,"y":100,"wires":[["304545a8.fdcaba"]]},{"id":"304545a8.fdcaba","type":"function","z":"1eceb1af.f728ee","name":"","func":"var msg={payload:msg.payload.uplink_message.decoded_payload.bytes[1]};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":100,"wires":[["44e03a74.57e604","8bcaf5f5.b27a08"]],"outputLabels":["msg"]},{"id":"c4fdac53.346fc","type":"debug","z":"1eceb1af.f728ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1310,"y":180,"wires":[]},{"id":"43ef68cc.ebb828","type":"debug","z":"1eceb1af.f728ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1310,"y":220,"wires":[]},{"id":"de128eb2.2200d","type":"debug","z":"1eceb1af.f728ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1310,"y":260,"wires":[]},{"id":"44e03a74.57e604","type":"debug","z":"1eceb1af.f728ee","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":60,"wires":[]},{"id":"8bcaf5f5.b27a08","type":"switch","z":"1eceb1af.f728ee","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"49","vt":"num"},{"t":"eq","v":"50","vt":"num"},{"t":"eq","v":"51","vt":"num"},{"t":"eq","v":"52","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":870,"y":120,"wires":[["3c5658d3.b536c8","8b3414c7.740cb8"],["db635cbf.737e3"],["8484960c.02c718"],["c6f5bb32.5dc6e8"]]},{"id":"db635cbf.737e3","type":"function","z":"1eceb1af.f728ee","name":"","func":"var msg={payload:msg.payload};\nif(msg.payload===50){\n    msg.payload=true;\n}else{\n    msg.payload=false;\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":180,"wires":[["c4fdac53.346fc"]]},{"id":"8484960c.02c718","type":"function","z":"1eceb1af.f728ee","name":"","func":"var msg={payload:msg.payload};\nif(msg.payload===51){\n    msg.payload=true;\n}else{\n    msg.payload=false;\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":220,"wires":[["43ef68cc.ebb828"]]},{"id":"c6f5bb32.5dc6e8","type":"function","z":"1eceb1af.f728ee","name":"","func":"var msg={payload:msg.payload};\nif(msg.payload===52){\n    msg.payload=true;\n}else{\n    msg.payload=false;\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":260,"wires":[["de128eb2.2200d"]]},{"id":"3c5658d3.b536c8","type":"debug","z":"1eceb1af.f728ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":140,"wires":[]},{"id":"8b3414c7.740cb8","type":"change","z":"1eceb1af.f728ee","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"49","fromt":"num","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":100,"wires":[["628dd55d.06690c"]]},{"id":"628dd55d.06690c","type":"link out","z":"1eceb1af.f728ee","name":"señal tecla_1","links":["618cdd51.f8afd4"],"x":1405,"y":100,"wires":[]},{"id":"618cdd51.f8afd4","type":"link in","z":"1eceb1af.f728ee","name":"señal tecla_1","links":["628dd55d.06690c"],"x":415,"y":380,"wires":[["71ae71b4.3d053"]]},{"id":"9734bace.4a8ff8","type":"comment","z":"1eceb1af.f728ee","name":"Señal tecla_1","info":"","x":1490,"y":100,"wires":[]},{"id":"9ed136ac.eac2b8","type":"comment","z":"1eceb1af.f728ee","name":"Señal tecla_2","info":"","x":1490,"y":180,"wires":[]},{"id":"6b38b652.703458","type":"comment","z":"1eceb1af.f728ee","name":"Señal tecla_3","info":"","x":1490,"y":220,"wires":[]},{"id":"ace5ae36.05c3e","type":"comment","z":"1eceb1af.f728ee","name":"Señal tecla_4","info":"","x":1490,"y":260,"wires":[]},{"id":"cea5258a.b34038","type":"mqtt-broker","name":"","broker":"eu1.cloud.thethings.network:1883","port":"1883","clientid":"node-red","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d80f965e.86a118","type":"ui_group","name":"CABECERO","tab":"d824529b.af16a","order":2,"disp":true,"width":"6","collapse":false},{"id":"d824529b.af16a","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]