gps.json
[{"id":"2638deea.703b12","type":"tab","label":"GPS","disabled":false,"info":""},{"id":"c03e942c.35aa48","type":"mqtt in","z":"2638deea.703b12","name":"","topic":"v3/00000abcv@ttn/devices/1100110011/location/solved","qos":"2","datatype":"auto","broker":"5dda3419.503bac","nl":false,"rap":true,"rh":0,"x":375,"y":40,"wires":[[]],"l":false},{"id":"810e37b7.2cfcd8","type":"json","z":"2638deea.703b12","name":"","property":"payload","action":"","pretty":true,"x":510,"y":40,"wires":[["e42b22b.47c36e","6a4aa77f.de1f08"]]},{"id":"e42b22b.47c36e","type":"function","z":"2638deea.703b12","name":"raw parse","func":"var lat={payload:msg.payload.location_solved.location.latitude};\nvar long={payload:msg.payload.location_solved.location.longitude};\n\nvar source={payload:msg.payload.location_solved.location.source};\nreturn [lat,long,source];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":80,"wires":[["6727dd0a.25a844"],["b51a8a55.790068"],["2a7696d0.61e8ca"]]},{"id":"6727dd0a.25a844","type":"debug","z":"2638deea.703b12","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":40,"wires":[]},{"id":"b51a8a55.790068","type":"debug","z":"2638deea.703b12","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":80,"wires":[]},{"id":"2a7696d0.61e8ca","type":"debug","z":"2638deea.703b12","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":120,"wires":[]},{"id":"36db887e.2546f8","type":"worldmap","z":"2638deea.703b12","name":"","lat":"","lon":"","zoom":"13","layer":"OSM","cluster":"5","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":960,"y":200,"wires":[]},{"id":"f4ec0050.70bbb","type":"debug","z":"2638deea.703b12","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":160,"wires":[]},{"id":"6a4aa77f.de1f08","type":"function","z":"2638deea.703b12","name":"Parse GPS to worldmap","func":"\nvar lat=msg.payload.location_solved.location.latitude;\nvar lon=msg.payload.location_solved.location.longitude;\nvar ts=Date.now();\nvar hour=new Date(ts).toLocaleTimeString(\"es-ES\");\nvar date=new Date(ts).toLocaleDateString(\"es-ES\");\nmsg.payload={\n    name: \"SergioPria\",\n    lat: lat,\n    lon: lon,\n    icon:\"fa-user-circle\",\n    //name: date +' '+hour,\n    color: \"#001\"\n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":160,"wires":[["f4ec0050.70bbb","46f077c7.cd9858","36db887e.2546f8"]]},{"id":"4db51dbe.75fe64","type":"comment","z":"2638deea.703b12","name":"Falso punto de GPS","info":"Añadir un falso punto de GPS para tener mas estaciones","x":110,"y":420,"wires":[]},{"id":"8e2a7128.9c0ca","type":"worldmap in","z":"2638deea.703b12","name":"","path":"/worldmap","events":"connect","x":60,"y":240,"wires":[["2aadd524.9508ba"]]},{"id":"2aadd524.9508ba","type":"debug","z":"2638deea.703b12","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":240,"wires":[]},{"id":"46f077c7.cd9858","type":"geofence","z":"2638deea.703b12","name":"definir area","mode":"circle","inside":"true","rad":4829.960515816473,"points":[],"centre":{"latitude":43.186885689879084,"longitude":-5.8069825591519475},"floor":"","ceiling":"","worldmap":true,"outputs":2,"x":970,"y":240,"wires":[["ee5fefe6.7bcb2"],["548a3598.5bda7c"]]},{"id":"ee5fefe6.7bcb2","type":"debug","z":"2638deea.703b12","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":220,"wires":[]},{"id":"548a3598.5bda7c","type":"debug","z":"2638deea.703b12","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":260,"wires":[]},{"id":"e7af03c4.42629","type":"mqtt in","z":"2638deea.703b12","name":"","topic":"v3/00000abcv@ttn/devices/1100110011/up","qos":"2","datatype":"auto","broker":"5dda3419.503bac","nl":false,"rap":true,"rh":0,"x":170,"y":360,"wires":[["2afd195.96f1ce6"]]},{"id":"10ef336e.19ee1d","type":"debug","z":"2638deea.703b12","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":300,"wires":[]},{"id":"2afd195.96f1ce6","type":"json","z":"2638deea.703b12","name":"","property":"payload","action":"","pretty":false,"x":430,"y":340,"wires":[["10ef336e.19ee1d","e3308bcc.65c898","33d2f2b1.0806ce"]]},{"id":"e3308bcc.65c898","type":"function","z":"2638deea.703b12","name":"parse GPS with speed","func":"var lat=msg.payload.uplink_message.decoded_payload.latitude;\nvar lon=msg.payload.uplink_message.decoded_payload.longitude;\nvar speed=msg.payload.uplink_message.decoded_payload.speed;\nvar alt=msg.payload.uplink_message.decoded_payload.alt;\nvar ts=Date.now();\nvar hour=new Date(ts).toLocaleTimeString(\"es-ES\");\nvar date=new Date(ts).toLocaleDateString(\"es-ES\");\nmsg.payload={\n    name: \"SergioPria\",\n    speed:speed,\n    lat: lat,\n    lon: lon,\n    icon:\"fa-thermometer-full\",\n    //name: date +' '+hour,\n    color: \"#020\",\n    label:\"SERGIO\"\n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":340,"wires":[["8f34da02.59de68","cff4d52d.7f9fc8"]]},{"id":"cff4d52d.7f9fc8","type":"debug","z":"2638deea.703b12","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":340,"wires":[]},{"id":"8f34da02.59de68","type":"worldmap","z":"2638deea.703b12","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"false","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":960,"y":380,"wires":[]},{"id":"1465c08d.a0b61f","type":"geofence","z":"2638deea.703b12","name":"prueba","mode":"circle","inside":"both","rad":8242.51680903896,"points":[],"centre":{"latitude":43.249434934444814,"longitude":-5.778830093331635},"floor":"","ceiling":"","worldmap":true,"outputs":2,"x":810,"y":440,"wires":[["8457cbf7.1e57f8"],["a5fefb50.a8ed18"]]},{"id":"a5fefb50.a8ed18","type":"debug","z":"2638deea.703b12","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":480,"wires":[]},{"id":"33d2f2b1.0806ce","type":"function","z":"2638deea.703b12","name":"","func":"var lon=msg.payload.uplink_message.decoded_payload.longitude;\nvar lat=msg.payload.uplink_message.decoded_payload.latitude;\nmsg.payload={\n    lat,\n    lon\n    };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":440,"wires":[["1465c08d.a0b61f","594206db.268d78"]]},{"id":"594206db.268d78","type":"debug","z":"2638deea.703b12","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":520,"wires":[]},{"id":"8457cbf7.1e57f8","type":"debug","z":"2638deea.703b12","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":440,"wires":[]},{"id":"5dda3419.503bac","type":"mqtt-broker","name":"","broker":"eu1.cloud.thethings.network","port":"1883","tls":"4c9c7921.4d7a08","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4c9c7921.4d7a08","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"eu1.cloud.thethings.network","verifyservercert":true}]