WEATHER.json
[{"id":"79c097aa.f7f018","type":"tab","label":"WEATHER_STATION","disabled":false,"info":""},{"id":"c229e7fa.c4c338","type":"mqtt in","z":"79c097aa.f7f018","name":"","topic":"v3/0011111@ttn/devices/0000000000112233/up","qos":"2","datatype":"auto","broker":"5dda3419.503bac","nl":false,"rap":true,"rh":0,"x":200,"y":80,"wires":[["c0763b8.770f4c8"]]},{"id":"c0763b8.770f4c8","type":"json","z":"79c097aa.f7f018","name":"","property":"payload","action":"","pretty":true,"x":470,"y":80,"wires":[["bccfdca7.07862","dd239ceb.a656a","5e12c602.a4dc68"]]},{"id":"bccfdca7.07862","type":"function","z":"79c097aa.f7f018","name":"","func":"var temp={payload:msg.payload.uplink_message.decoded_payload.temp};\nvar hum={payload:msg.payload.uplink_message.decoded_payload.humidity};\nvar gas={payload:msg.payload.uplink_message.decoded_payload.gas};\nvar pressure={payload:msg.payload.uplink_message.decoded_payload.pressure};\nvar battery={payload:msg.payload.uplink_message.decoded_payload.battery};\nvar battery_level={payload:msg.payload.uplink_message.decoded_payload.battery_level};\nreturn [temp,hum,gas,pressure,battery,battery_level];","outputs":6,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":80,"wires":[["2d7a2c1e.673cb4","3a57d123.7175be"],["38a13074.e505b","484661c1.67e5a"],["d758dff9.32e7f","bb4b0cb6.406ae"],["d0eaa429.cc9d48","86a2dce3.1c603"],["c7b4e034.824f6","4dda18cd.e012f8"],["c9421888.68f918","185d9439.9af48c"]]},{"id":"38a13074.e505b","type":"ui_gauge","z":"79c097aa.f7f018","name":"","group":"73fe1d77.5a2c84","order":1,"width":"4","height":"4","gtype":"gage","title":"HUM","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1310,"y":140,"wires":[]},{"id":"d758dff9.32e7f","type":"ui_gauge","z":"79c097aa.f7f018","name":"","group":"73fe1d77.5a2c84","order":2,"width":"4","height":"4","gtype":"gage","title":"GAS","label":"mOhm","format":"{{value}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1310,"y":220,"wires":[]},{"id":"d0eaa429.cc9d48","type":"ui_gauge","z":"79c097aa.f7f018","name":"","group":"73fe1d77.5a2c84","order":3,"width":"4","height":"4","gtype":"gage","title":"PRESSURE","label":"hPa","format":"{{value}}","min":0,"max":"1200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1330,"y":300,"wires":[]},{"id":"2d7a2c1e.673cb4","type":"ui_gauge","z":"79c097aa.f7f018","name":"","group":"73fe1d77.5a2c84","order":0,"width":"4","height":"4","gtype":"gage","title":"TEMP","label":"ºC","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1310,"y":60,"wires":[]},{"id":"c7b4e034.824f6","type":"ui_gauge","z":"79c097aa.f7f018","name":"","group":"73fe1d77.5a2c84","order":5,"width":"4","height":"4","gtype":"donut","title":"BAT","label":"V","format":"{{value}}","min":0,"max":"6","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1310,"y":380,"wires":[]},{"id":"dd239ceb.a656a","type":"debug","z":"79c097aa.f7f018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":200,"wires":[]},{"id":"3a57d123.7175be","type":"ui_chart","z":"79c097aa.f7f018","name":"","group":"73fe1d77.5a2c84","order":7,"width":"10","height":"6","label":"TEMP","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1310,"y":100,"wires":[[]]},{"id":"4dda18cd.e012f8","type":"ui_chart","z":"79c097aa.f7f018","name":"","group":"73fe1d77.5a2c84","order":6,"width":"10","height":"6","label":"BAT","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"3","ymax":"4.5","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1310,"y":420,"wires":[[]]},{"id":"484661c1.67e5a","type":"ui_chart","z":"79c097aa.f7f018","name":"","group":"73fe1d77.5a2c84","order":8,"width":"10","height":"6","label":"HUM","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#db1414","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1310,"y":180,"wires":[[]]},{"id":"86a2dce3.1c603","type":"ui_chart","z":"79c097aa.f7f018","name":"","group":"73fe1d77.5a2c84","order":9,"width":"10","height":"6","label":"PRESSURE","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"950","ymax":"1020","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#ac1616","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1330,"y":340,"wires":[[]],"inputLabels":["pressure"]},{"id":"a6022f97.97593","type":"comment","z":"79c097aa.f7f018","name":"PENDIENTE","info":"Añadir hora de ultimo mensaje","x":610,"y":160,"wires":[]},{"id":"5e12c602.a4dc68","type":"function","z":"79c097aa.f7f018","name":"","func":"var time={payload:msg.payload.received_at};\nreturn time;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":240,"wires":[["cf58d90a.ed29e8"]]},{"id":"b0d7280e.4ca6d8","type":"debug","z":"79c097aa.f7f018","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":320,"wires":[]},{"id":"af9df0f2.5a852","type":"ui_text","z":"79c097aa.f7f018","group":"73fe1d77.5a2c84","order":10,"width":"16","height":"2","name":"","label":"LAST","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":360,"wires":[]},{"id":"bb4b0cb6.406ae","type":"ui_chart","z":"79c097aa.f7f018","name":"","group":"73fe1d77.5a2c84","order":11,"width":"10","height":"6","label":"GAS","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1310,"y":260,"wires":[[]]},{"id":"cf58d90a.ed29e8","type":"split","z":"79c097aa.f7f018","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"payload","x":500,"y":340,"wires":[["b0d7280e.4ca6d8","af9df0f2.5a852"]]},{"id":"c9421888.68f918","type":"ui_gauge","z":"79c097aa.f7f018","name":"","group":"73fe1d77.5a2c84","order":12,"width":"4","height":"4","gtype":"wave","title":"BATTERY_LEVEL","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1350,"y":460,"wires":[]},{"id":"185d9439.9af48c","type":"ui_chart","z":"79c097aa.f7f018","name":"","group":"73fe1d77.5a2c84","order":13,"width":"10","height":"6","label":"BATTERY LEVEL","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#c31818","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1350,"y":500,"wires":[[]]},{"id":"5cb07d00.5e8584","type":"inject","z":"79c097aa.f7f018","name":"","props":[{"p":"payload"},{"p":"headers","v":"{\"Content-Type\":\"application/json\"}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":130,"y":600,"wires":[["bf98d173.18fc8","9b6bc1e3.6e927"]]},{"id":"bf98d173.18fc8","type":"http request","z":"79c097aa.f7f018","name":"GET storage","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://eu1.cloud.thethings.network/api/v3/as/applications/0011111/devices/0000000000112233/packages/storage/uplink_message?apikey=Bearer%20MBZ5PSTZCO3AVVTNUBF4XCH25YFUXZ3KGR7OOZA","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":600,"wires":[["ea9aef5f.dc474"]]},{"id":"ea9aef5f.dc474","type":"debug","z":"79c097aa.f7f018","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":600,"wires":[]},{"id":"7ce6a683.ee27e8","type":"comment","z":"79c097aa.f7f018","name":"WEATHER STATION MQTT","info":"","x":170,"y":40,"wires":[]},{"id":"cfb3e0c9.15371","type":"comment","z":"79c097aa.f7f018","name":"HTTP REQUEST WEATHER STATION","info":"","x":210,"y":540,"wires":[]},{"id":"9b6bc1e3.6e927","type":"debug","z":"79c097aa.f7f018","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":660,"wires":[]},{"id":"5dda3419.503bac","type":"mqtt-broker","name":"","broker":"eu1.cloud.thethings.network","port":"1883","tls":"4c9c7921.4d7a08","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"73fe1d77.5a2c84","type":"ui_group","name":"WEATHER 1","tab":"d824529b.af16a","order":1,"disp":true,"width":"25","collapse":false},{"id":"4c9c7921.4d7a08","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"eu1.cloud.thethings.network","verifyservercert":true},{"id":"d824529b.af16a","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]